{% extends "base.html.twig" %}

{% block body %}
<div class="container w-50  mx-auto mt-5 ">
<div class="p-3 border border-primary rounded m-0 rounded shadow-lg">
<h1 class="text-center h3 my-4 pb-4 border-bottom border-dark">Inscription</h1>
<div class="container">
    {{ form_start(registrationForm, {'action': path('inscription_traiter')}) }}
    <div class="row mx-3">
    <div class="col-md-6">
        {{ form_row(registrationForm.pseudo) }}
    </div>
    <div class="col-md-6">
    {{ form_row(registrationForm.civilite)}}
    </div>
    <div class="col-md-6"> 
    {{ form_row(registrationForm.nom)}}
    </div>
    <div class="col-md-6"> 
    {{ form_row(registrationForm.prenom)}}
    </div>
    {{ form_row(registrationForm.email)}}
        
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       
        
        
        <button type="submit" class="btn btn-primary col-md-12">s'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}    
